#spinner {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

#spinner  .sr-only{
  color: aliceblue;
  z-index: 10;
}
  
.form-group span{
  color: red;
}